


<template name="home">
  
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KGXMMPN');</script>
        <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    </head>   


    <div class="background-dark">

      <body class="size-1140 background-dark">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGXMMPN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div id="page-wrapper">

          <!-- HEADER -->
          <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

            <!-- Top Navigation -->
            <nav class="background-dark background-transparent-hightlight full-width sticky">

              <div class="s-12 l-2">
                <a href="/" class="logo">
                  <!-- Logo version before sticky nav -->
                  <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
                  <!-- Logo version after sticky nav -->
                  <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
                </a>
              </div>


              <div class="s-12 l-10">
                <div class="top-nav right">
                  <p></p>

                  <div class="d-none d-md-block">
                    <ul class="right chevron">
                      <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>
                      <li><a class="text-white" href="/adminpanel">Admin</a></li>
                    </ul>
                </div>
                </div>
              </div>  

            </nav>

              <div class="d-md-none d-lg-none d-xl-none background-dark">
                <br>
                <div class="row">
                  <div class="col-6" style="text-align:right;">
                        <a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
                      </div>
                    <div class="col-6" style="text-align:left;">
                        <a class="text-white" href="/adminpanel">Admin</a>            
                    </div>
                    
                  </div>
                  <br>
                  <hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
              </div>

          </header>

          <br><br>
        
        <!-- MAIN -->
        <main role="main">
          <!-- Content -->
          <article>
            <header class="section background-dark">
              <div class="line text-center">
                <br><br>
                

                    {{#if currentUser }}
                        {{#if isLoaded}}
                          <p class="margin-bottom-0 text-size-16 text-white">En Trendsetters potenciamos representando marcas de artistas y experiencias</p><br><br>
                          <div class="row">
                            <div class="col-md-4 col-12">
                            </div>
                            <div class="col-md-4 col-12">
                              <div class="alert alert-success" role="alert" width="80px">
                                <strong>Bien hecho !</strong> Te logueste con exito
                              </div>
                            </div>
                            <div class="col-md-4 col-12">
                            </div>
                          </div>
                            

                            <div id="login-buttons" class="login-buttons-dropdown-align-center">
                              <div class="login-buttons-with-only-one-button">
                                <div class="login-text-and-button">

                                  <div class="login-display-name">
                                  </div>

                                  <div class="login-button single-login-button" id="login-buttons-logout">Sign Out</div>
                                  </div>
                              </div>
                            </div>

                            <br><br>

                        {{else}}
                            <p class="margin-bottom-0 text-size-16 text-white">En Trendsetters representamos artistas y experiencias potenciando su crecimiento a través de la construcción de sus marcas</p><br><br>
                            <p class="text-white">Cargando tu perfil ..</p>
                        {{/if}}

                    {{else}}
                      <p class="margin-bottom-0 text-size-16 text-white">En Trendsetters representamos artistas y experiencias potenciando su crecimiento a través de la construcción de sus marcas</p><br><br>
                      <p class="margin-bottom-0 text-size-16 text-white">Inicia sesion con nosotros</p><br>
                      <div id="login-buttons">
                        <div class="login-text-and-button">
                          <div class="login-button single-login-button " id="login-buttons-facebook">
                            <div class="login-image" id="login-buttons-image-facebook"></div>
                            <span id="sign-in-facebook" class="text-besides-image sign-in-text-facebook">Sign in with Facebook</span>
                          </div>
                          <br>
                        </div>
                    </div>
                    {{/if}}

                    
              </div>  
            </header>

            <div class="background-dark full-width">

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/florivigna/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Flor Vigna</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/florVigna.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/nicoocchiato/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Nico Ochiatto</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/nicoOchiato.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/lionelferro/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Lio Ferro</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/lioferro.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/amirachediak/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Amira Chediak</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/amirachediak.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/sashaferro/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Sasha Ferro</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/sasha.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/valentinasalezzi/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Valen Salezzi</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/valen.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/tupisaravia/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Tupi Saravia</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/tupi.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/andresgill/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Andres Gil</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/andresgil.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/alfonsobenja/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Benja Alfonso</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/benjaalfonso.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/nico__riera/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Nico Riera</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/nicoriera.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/barbiesimonsok/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Barbie Simmons</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/barbisimmons.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/jennum94" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Jenny Martinez</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/jenny.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/estefaniaberardi" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Estefi Berardi</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/estefiBerardi.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/cellisergio" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Sergio Cellis</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/sergiocellis.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/vaninaescudero/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Vanina Escudero</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/vaninaEscudero.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/escuderosilvina/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Silvina Escudero</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/escuderosilvina.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/florbertottiok/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Flore Bertotti</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/florbertoti.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/rororock33/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Romina Gaetani</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/roro.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/angelesbalbiani/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Angie Balbiani</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/angelesbalbiani.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/cocapram/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Coca Pram</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/cocapram.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/stephaniedemner/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Stephanie Demner</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/stephi.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/dakyta_/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Daniela Aita</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/dakyta.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/valenmadanes/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Valen Madanes</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/valenmadanes.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/caro_oltra" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Caro Oltra</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/carooltra.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/emanuelmoriatis/?hl=es-la" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Emanuel Moriatis</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/emanuelmoriatis.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/maria_freytes" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Maria Freytes</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/mariafreytes.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/thehealthyblogger" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">The Healthy Blogger</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/thehealthy.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/look_connected/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Look Connected</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/lookconnected.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/mamasanablog" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Mama Sana</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/mamasana.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/quechuchomanucho" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Que Chucho Manucho</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/quechucho.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/being.healthyy" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Being Healthy</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/beinghealthy.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/biufit" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Biufit</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/florBiufit.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/patricioarellano" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Pato Orellano</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/pato.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/valentinagod" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Valen Godfried</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/valenGod.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="http://instagram.com/sofielliot" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Sofi Elliot</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/sofiElliot.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/majocastorina/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Majo Castorina</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/majoCastorina.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/juansorini/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Juan Sorini</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/juanSorini.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/javiereloy02/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Javier Eloy</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/javierEloy.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/catubonadeo/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Cata Bonadeo</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/catubonadeo.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/palmaagustina" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Agustina Palma</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/aguspalma.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/daianaquirozz/?hl=es-la" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Daina Quiroz</h3>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/daiquiroz.jpg" alt=""/>
                  </a>    
                </div>


            </div>  

            <br><h2 align="center">México</h2><br>

            <div class="background-dark full-width">

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/lionelferro/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Lio Ferro</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/lioferro.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/imalejandro/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Alejandro Peguero</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/imalejandro.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/quefishtv/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Sury</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/quefish.jpg" alt=""/>
                  </a>    
                </div>

                <div class="s-6 m-6 l-five">
                  <a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="https://www.instagram.com/lilia_cortes/" title="Portfolio Image">
                    <div class="image-hover-overlay background-primary"> 
                      <div class="image-hover-overlay-content text-center padding-2x">
                        <h3 class="text-white text-size-20 margin-bottom-10">Lilia Cortes</h3>
                        <p class="text-white text-size-14 margin-bottom-20"></p>
                        <div class="d-none d-md-block">
                          <p class="text-white text-size-14 margin-bottom-20"></p>
                        </div>  
                      </div> 
                    </div> 
                    <img class="full-img" src="/images/TrendsettersFotos/liliacortes.jpg" alt=""/>
                  </a>    
                </div>

            </div>
          </article>
        </main>
        
        <!-- FOOTER -->
        <footer>
          <!-- Contact Us -->
          

          <!-- Main Footer -->
          <section class="section-small-padding text-center background-dark full-width">
            <div class="line">
              <div class="margin">
                <!-- Collumn 1 -->              
                <div class="s-12 m-12 l-6 margin-m-bottom-30" id="over">
                    <img class="resize-icon" src="/images/ar.png">
                  <br>
                  <p class="text-size-14">
                     Francisco berra 3058<br>
                     Buenos aires - Argentina<br>
                     +54 9 11 2182-0521<br>
                     pr@trendsetters.com
                  </p>               
                </div>
                <!-- Collumn 2 -->
                <div class="s-12 m-12 l-6 margin-m-bottom-30" id="over">
                  <img class="resize-icon" src="/images/mx.png">
                  <br>
                  <p class="text-size-14">
                     prensa@trendsetters.com
                  </p>              
                </div>
              </div>
            </div>  
          </section>
          <hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
          
          <!-- Bottom Footer -->
          <section class="padding background-dark full-width">
            <div class="text-center">
              <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
            </div>
          </section>
        </footer>
      </div>
      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/jquery.events.touch.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
    </body>
  </div>

</template>



<template name="loadingmodal">

    <div class="modal fade" id="loadingid">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <br><br><br><br><br><br>
                {{> spinner}}
        </div>
      </div>
    </div>

</template>

<template name="loadingdiv">
    <div style="height: 150px;">
        {{> spinner}}
    </div>
</template>

<template name="userPill">
    <span>{{usname}}</span>
</template>


<template name="plantilla">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    


  <div class="home-background">

    <body class="size-1140">

      <div id="page-wrapper">

        <!-- HEADER -->
        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

          <!-- Top Navigation -->
          <nav class="background-dark background-transparent-hightlight full-width sticky">

            <div class="s-12 l-2">
              <a href="/home" class="logo">
                <!-- Logo version before sticky nav -->
                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
                <!-- Logo version after sticky nav -->
                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
              </a>
            </div>
            <div class="s-12 l-10">
              <div class="top-nav right">
                <p class="nav-text"></p>
                <ul class="right chevron">
                  <li><a href="https://www.instagram.com/thinky.ok/"><img class="resize-icon" src="/images/icon11.png"/></a></li>
                  <li><a href="/home"><img class="resize-icon" src="/images/icon22.png"/></a></li>             
                  <li><a href="/adminpanel">Admin</a></li>
                </ul>
              </div>
            </div>  
          </nav>
        </header>

        <br><br><br><br>

        
    <main role="main">
         <!-- Content -->
         <article>
            <header class="section background-dark">
            </header>

                

          </article>
        </main>


        </div>
    </body>
  </div>


    <footer>
    <!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="text-center">
          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
        </div>
      </section>
    </footer>


      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/jquery.events.touch.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
        
</template>
