/* CSS declarations go here */

.login-buttons-dropdown-align-right {
    float: right;
}

* {
    box-sizing: border-box;
}



.home-background {
  background: url('/images/background-agus.jpg') no-repeat;
  opacity:0.99;
}
.background-imgrid {
  background: #131313;
}

img.resize-icon {
  width:35px;
  height:auto;
}
img.resize-icon2 {
  width:15px;
  height:auto;
}

img.resize-logo {
  width:450px;
  height:auto;
}

.lato{
    font-family: 'Lato';
    font-weight: 10;
}
.engagementtext {
    color:#01A9DB;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}

.btn-agus {
  background: #151515;
  background-image: -webkit-linear-gradient(top, #151515, #151515);
  background-image: -moz-linear-gradient(top, #151515, #151515);
  background-image: -ms-linear-gradient(top, #151515, #151515);
  background-image: -o-linear-gradient(top, #151515, #151515);
  background-image: linear-gradient(to bottom, #151515, #151515);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #151515 2px;
  text-decoration: none;
}

.btn-agus:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  text-decoration: none;
  color: #000000;
}
.btn-agus.isActive{
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  text-decoration: none;
  color: #000000;
}


input, textarea{
    background-color:#151515;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
input { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.enlarge{
  font-size: 20pt;
}
.enlarge-m{
  font-size: 14pt;
}

.grey-input{
  background-color:#151515;
}

.dot-table td:first-child:after {
    content:"                                                  "
}
tr.border-color td {
  border-bottom:1pt solid #424242;
  border-top:1pt solid #424242;
}
td {
  border: 1pt solid #424242;
}

table { border-collapse:collapse }

#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.outerimage{
    position: relative;
    top: 0;
    left: 0;
}
.innerimage{
    position: absolute;
    top: 10px;
    left: 10px;
}

.cn {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.box {
  border: 0px groove #190214;
}


.cursor-point:hover{
    cursor: pointer;
}


.row-height {
    position:relative;
    height:300px;
}
.img-layout {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.frame {  
    height: 300px; /*can be anything*/
    width: 260px; /*can be anything*/
    position: relative;
}

.carousel-control-next-icon {
    color: #0B0B61;
    background: #0B0B61;
}
.carousel-control-prev-icon {
    color: #0B0B61;
    background: #0B0B61;
}

