


<template name="adminpanel">

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    


    <div class="background-dark">

	    <body class="size-1140 background-dark">

	      <div id="page-wrapper">

	        <!-- HEADER -->
	        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

	          <!-- Top Navigation -->
	          <nav class="background-dark background-transparent-hightlight full-width sticky">

	            <div class="s-12 l-2">
	              <a href="/" class="logo">
	                <!-- Logo version before sticky nav -->
	                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
	                <!-- Logo version after sticky nav -->
	                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
	              </a>
	            </div>


	            <div class="s-12 l-10">
	              <div class="top-nav right">
	                <p></p>

	                <div class="d-none d-md-block">
		                <ul class="right chevron">
		                  <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>
		                  {{#if currentUser }}
							{{#if isAdminC }}
								<li><a class="text-white" href="/adminpanel" id="logout">Logout</a></li>
							{{/if}}
						  {{/if}}             
		                </ul>
		            </div>
	              </div>
	            </div>  

	          </nav>

	            <div class="d-md-none d-lg-none d-xl-none background-dark">
	            	<br>

	                	{{#if currentUser }}
							{{#if isAdminC }}
								<div class="row">
				                  <div class="col-6" style="text-align:right;">
				                        <a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
				                      </div>
				                    <div class="col-6" style="text-align:left;">
				                        <a class="text-white" href="/adminpanel" id="logout">Logout</a>            
				                    </div>
                    
                  				</div>
                  			{{/if}}
                  		{{else}}
	                  			<div class="row">
				            		<div class="col-7" style="text-align:right;">
				                  		<a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
				                  	</div>
				                  	<div class="col-5">        
				                	</div>
				                </div>
                  		{{/if}}
                  		<br>
                  		<hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
	                
				</div>

	        </header>

	        <br>
			{{checkUser}}

			{{#if currentUser }}

				{{#if isAdminC }}
					<main role="main">
				         <!-- Content -->
				         <article>

				            <header class="section background-dark">
				            	<br>


				         		{{#if verPerfiles}}
				         			<button class="btn-agus" type="button" id="noverperfiles">Volver</button>
				         		{{else}}
					            	<button class="btn-agus" type="button" id="addcampaign">+ Campaña</button>
					            	<button class="btn-agus float-right" type="button" id="verperfiles" align="right">Ver perfiles</button>
					            {{/if}}

				            	
				            </header>

				            <hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);"><br>

				            {{#if verPerfiles}}
				            	{{#each trendUsers}}
									

					                <div class="s-6 m-6 l-five">
					                	<a class="image-with-hover-overlay image-hover-zoom" href="#" title="Portfolio Image">
					                    <div class="image-hover-overlay background-primary"> 
					                      <div class="image-hover-overlay-content text-center padding-2x">
					                        <h3 class="text-white text-size-20 margin-bottom-10">{{usname}}</h3>
					                        <br>
					                        <p class="text-white text-size-14 margin-bottom-20 goAnalytics" id="{{usname}}">Analytics</p>
					                         
					                      </div> 
					                    </div> 
					                    <img class="full-img" src="{{picurl}}" alt=""/>
					                    </a>   
					                </div>


					            {{/each}}

					        {{else}}

					            {{#if isAddCampaign}}

						            <div class="background-dark" id="tablecontainer">

						            	<div class="row">

						            		<div class="col-12 col-md-8">

								            	<form class="form-signin">

											      	<div class="modal-body">

											      	Ingresa el nombre de la campaña <br>
													<input type="text" name="inputName" id="inputName" class="form-control grey-input" placeholder="Nombre">
													<br><br>

													Ingresa el cliente
											        <label for="cliente" class="sr-only">Cliente</label>
													<input type="text" name="inputCliente" id="inputCliente" class="form-control grey-input" placeholder="Cliente" required="" autofocus="">
													<br><br>

											        Ingresa la fecha de la campaña  <span class="greytext">(Fecha de inicio)</span><br>
											        <input type="text" name="campaigndate" class="form-control grey-input" id="campaigndate">
											        <br><br>

											        Ingresa la central de medios  <span class="greytext">(Opcional)</span>
											        <input type="text" class="form-control grey-input" id="inputCentral" name="inputCentral" placeholder="Central">
											        <br><br>

											      </div>

												      <div class="modal-footer">
												        <button type="button" class="btn btn-agus" data-dismiss="modal" id="cancelarcampaign">Cancelar</button>
												        <button class="btn btn-agus" id="guardarcampaign" type="submit">Guardar</button>
												      </div>

											      </form>

											</div>

											<div class="col-12 col-md-4">
											</div>
										</div>

					            	</div>

					            {{else}}

					            	<div class="background-dark" id="tablecontainer">
									

									{{#each row in CampaignCollection2}}

										<div class="row">

										{{#each campaign in row}}

											<div class="col-xl-2 col-lg-3 .col-sm-6 col-12">
											
												<div class="card card-inverse" style="background-color: #333; border-color: #333; width: 15rem;">
												  <div class="card-block">
												  	<br>
												    <h1 class="text-white card-title" align="center">{{campaign.nombre}}</h1><br>
												    <p class="text-white card-text" align="center">Client: {{campaign.cliente}}<br>Fecha: {{campaign.fecha}}</p><br>
												    <div class="text-center">
													    <div class="btn-group" role="group" style="text-align:center">
														    <button class="btn btn-agus gotocampaignhash" id="{{campaign.nombre}}">View</button>
														    <button class="btn btn-agus gotocampaignhash" id="{{addArroba campaign.nombre}}">Edit </button>
														</div>
													</div>
													<br>
												  </div>
												</div>

												<br><br>

											</div>

										{{/each}}

										</div>

									{{/each}}

									</div>

								{{/if}}

				            {{/if}}
				          </article>
				        </main>
				{{else}}
					<main role="main">
			         <!-- Content -->
			         <article>
			            <header class="section background-dark">

			              <div class="row">
			            	<div class="col-md-4 col-12">

			            		<br><br>

			            		<h3 class="white-text">No tenes el permiso necesario para acceder aqui</h3>

						        <br><br><br><br><br>

						        <hr>

								<a href="/"><button class="btn btn-agus">Volver</button></a>

							</div>

							<div class="col-md-3 col-6">
							</div>

							<div class="col-md-5 col-6">
							</div>
						  </div>
			            	
			            </header>
			        </article>
			    </main>

				{{/if}}

			{{else}}
				<main role="main">
			         <!-- Content -->
			         <article>
			            <header class="section background-dark">

			              <div class="row">
			            	<div class="col-md-4 col-12">

			            		<br><br>

			            		<h3 class="white-text">Inicia sesión</h3>

						        <input type="text" class="form-control grey-input" placeholder="Email" id="inputuname">

						        <input type="password" class="form-control grey-input" placeholder="Password" id="inputpass">

						        <hr>

								<button class="btn btn-agus" id="mlogin" type="submit" align="right">Login</button>

							</div>

							<div class="col-md-3 col-6">
							</div>

							<div class="col-md-5 col-6">
							</div>
						  </div>
			            	
			            </header>
			        </article>
			    </main>

			{{/if}}


	  </div>
	</body>
  </div>


	<footer>
	<!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="text-center">
          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
        </div>
      </section>
    </footer>


      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/jquery.events.touch.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
		

    
</template>


<template name="genhash">
	{{#if currentUser }}

	    <div class="row">

			<div class="col-md-4">
		    </div>

		    <div class="col-md-4">

		    	<h4 style="color:#000000;">Generacion de URL's</h4>

		    	<select class="form-control" id="selectname">
					{{#each nombre in campaignNames}}
			      		<option value="{{nombre}}">{{nombre}}</option>
					{{/each}}
			    </select>

			    <br>

			    <a class="btn btn-primary" id="genhash" role="button">Generate hash</a>

			    <hr><br>

			    {{#if genHashResult.hash}}
			    	Link to {{genHashResult.nombre}} campaign is :
			    	<br>
			    	{{campaignURL}}
			    {{else}}
			    	Dale click a generar hash
			    {{/if}}

			    <hr><br>

			    <h4 style="color:#000000;">Creacion de campanias</h4>

		    </div>

		    <div class="col-md-4">
		    </div>
		</div>
		
		<br><br><br><br>
		{{> loginButtons align="center"}}<br><br>

    {{else}}
    	<div class="row">

			<div class="col-md-4">
		    </div>

		    <div class="col-md-4">
		    	<img src="/images/accessdenied.png"/><br><br>
		    	<h4 style="color:#000000;">Inicia sesion para poder usar esta pagina</h4>
		    	<br><br>{{> loginButtons align="center"}}<br><br>
		    </div>

		    <div class="col-md-4">
		    </div>
		</div>
    	

    {{/if}}

</template>