

<template name="all">
    <div class="row">
        <div class="col-md-2 nopadding">
          <div class="well" id="fixside">
          <nav class="sidebar-nav-fixed affix navbar-light" id="sidebar"><br><br>
          <img src="/images/logo-thinky.png" align="center" height="80" width="auto"><br><br><br>

            <ul class="nav nav-pills flex-column">

              <li class="nav-item">
                <a class="nav-link overview active" id="overviewlink">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link campaigns">Campañas</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link search">Buscar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link followhistory">Seguimiento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link trendsetters">Trendsetters</a><br>
              </li>

            </ul>

          </nav>
        </div>
        </div>

        <div class="col-md-10">
            

            {{#if isOverview}}
              {{> allusers}}
            {{/if}}

            {{#if isCampaign}}
              {{> campaigns}}
            {{/if}}

            {{#if isSearch}}
              {{> search}}
            {{/if}}

            {{#if isFollowHistory}}
              {{> seguimiento}}
            {{/if}}

            {{#if isTrendsetters}}
              {{> trendsetters}}
            {{/if}}
        </div>
    </div>

    <script>
      $(".nav-link").on("click", function() {
            $(".nav-link").removeClass("active");
            $(this).addClass("active");
          })
    </script>

</template>


<template name="allusers">

    <h2 align="center">Ultimos usuarios registrados </h2> <br><br>

    <div align="left">

      {{> inputAutocomplete settings=autoSettings id="inputUsuario" class="input-xlarge" placeholder="Username"}}
      <button class="btn btn-primary" id="buscaruser" type="submit">Buscar</button><button type="button" class="btn btn-link" id="vertodos">Ver todos</button>
      {{#if showSearchResult}}
        <img src="/images/refresh.png" class="imglink" id="refreshsearchu">
      {{/if}}

      {{#if mostrarTodos}}
        <br><br><button type="button" class="btn btn-link" id="ocultartodos">Ocultar</button>
        {{> reactiveTable collection=collectionAll settings=settingsAll}}
      {{/if}}
     
    </div>
    <br><br>

    {{#if showSearchResult}}
      {{> searcheduser}}
      <br><hr><br>
    {{/if}}



    {{#each allusers}}
        <div class="card">
          <div class="row ">

            <div class="col-md-2">
              <img class="card-img-top img-keepsmall-200" src="{{picurl}}" alt="Card image cap">
            </div>

            <div class="col-md-4 align-middle">

              <div class="row ">

                <div class="col-md-6">

                 <div class="card-block"><br>
                    <h4 class="card-title" align="center">{{usname}}</h4>
                  </div><br>
                </div>

                <div class="col-md-6">
                 <div class="card-block"><br>
                    <p class="card-text" align="center"><strong>Seguidores</strong> {{followers_string}} </p>
                  </div><br>
                </div>

              </div>

              <p class="card-text" align="center">{{bio}} </p>

            </div>

              <div class="col-md-2">
               <strong>Tags</strong><br><br>
                  {{#each tag in tags}}
                    <span class="badge badge-pill badge-info">{{tag}}</span>
                  {{/each}}
              </div>

              <div class="col-md-3">
               <div class="card-block"><br>
                <div class="btn-group-vertical">
                    <div align="center">

                      <br><br>

                      <a target="_blank" href={{link}}><img src="/images/instagram-badge.png"></a>  

                      
                      <img src="/images/analytics-badge.png" class="getAnalytics" id={{usname}}> 

                      <img src="/images/media-badge.png" class="getMedia" id={{usname}}>

                      <img src="/images/stories.png" class="getStories" id={{usname}}>

                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-1">
               <div class="card-block"><br><br>
                  
                </div>
              </div>

              <br><br>
            </div>
            </div>
         

    {{/each}}
</template>



<template name="searcheduser">

    <div class="card">
      <div class="row ">

        <div class="col-md-2">
          <img class="card-img-top img-keepsmall-200" src="{{res.picurl}}" alt="Card image cap">
        </div>

        <div class="col-md-4 align-middle">

          <div class="row ">

            <div class="col-md-6">

             <div class="card-block"><br>
                <h4 class="card-title" align="center">{{res.usname}}</h4>
              </div><br>
            </div>

            <div class="col-md-6">
             <div class="card-block"><br>
                <p class="card-text" align="center"><strong>Seguidores</strong> {{res.followers_string}} </p>
              </div><br>
            </div>

          </div>

          <p class="card-text" align="center">{{res.bio}} </p>

        </div>

          <div class="col-md-2">
           <strong>Tags</strong><br><br>
              {{#each tag in res.tags}}
                <span class="badge badge-pill badge-info">{{tag}}</span>
              {{/each}}
          </div>

          <div class="col-md-3">
           <div class="card-block"><br>
            <div class="btn-group-vertical">
                <div align="center">

                  <br><br>

                  <a target="_blank" href={{res.link}}><img src="/images/instagram-badge.png"></a>  

                  
                  <img src="/images/analytics-badge.png" class="getAnalytics" id={{res.usname}}> 

                  <img src="/images/media-badge.png" class="getMedia" id={{res.usname}}>

                  <img src="/images/stories.png" class="getStories" id={{res.usname}}>

                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1">
           <div class="card-block"><br><br>
              
            </div>
          </div>

          <br><br>
        </div>
        </div>
     

</template>
