



<template name="campaign">

	{{#if isValidationReady}}

		{{#if isValid}}

			<meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
		    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    


		    <div class="background-dark">

			    <body class="size-1140 background-dark">

			      <div id="page-wrapper">

			        <!-- HEADER -->
			        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

			          <!-- Top Navigation -->
			          <nav class="background-dark background-transparent-hightlight full-width sticky">

			            <div class="s-12 l-2">
			              <a href="/" class="logo">
			                <!-- Logo version before sticky nav -->
			                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
			                <!-- Logo version after sticky nav -->
			                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
			              </a>
			            </div>


			            <div class="s-12 l-10">
			              <div class="top-nav right">
			                <p></p>

			                <div class="d-none d-md-block">
				                <ul class="right chevron">
				                  <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>             
				                </ul>
				            </div>
			              </div>
			            </div>  

			          </nav>

			            <div class="d-md-none d-lg-none d-xl-none background-dark">
			            	<br>
							<div class="row">
			            		<div class="col-7" style="text-align:right;">
			                  		<a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
			                  	</div>
			                  	<div class="col-5">            
			                	</div>
			                </div>
			                <br>
                  			<hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
						</div>

			        </header>

			        <br><br>

			        
			    <main role="main">
			         <!-- Content -->
			         <article>
			            <header class="section background-dark">
			            	<div class="row">
			            		<div class="col-md-4 col-12">

			            			{{#if addPostStory}}

			            				<br><br><br><br>

			            				<p>Intrucciones: Tocar el boton seleccionar archivo, elegir una imagen, esperar a que aparezca el boton subir y darle click</p>

			            				<input type="file" id="filecloud"><br>

			            				{{#if submitImage}}

			            					<br><br><button class="btn-primary" id="submitimagen">Subir</button>
										
			            				{{/if}}
										

			            			{{else}}
									
									<br>

									<h2>Posteos de la campania</h2>

									<div class="d-md-none d-lg-none d-xl-none">
										<p>Toca la imagen para ver informacion sobre el posteo.</p>
									</div>

									<div class="d-none d-md-block">
										<p>Move el mouse sobre la imagen para ver informacion sobre el posteo.</p>
									</div>

										{{#if isAdmin}}
											<br><button class="btn btn-agus" id="addpoststory" type="submit">+ Post/Story</button>
											
										{{/if}}

									{{/if}}

	            				</div>

	            				<div class="col-md-4 col-12">
	            				</div>

	            				<div class="col-md-4 col-12">

					                {{#if tableReadyG}}

					                	<div class="d-none d-md-block">
											
						                	<br>
											<h3 align="center" class="underline">Campaña: <i>{{campaigninfo.nombre}}</i></h3>

											<div class="row background-dark">

												<div class="col-md-3 col-12">
					            				</div>

							            		<div class="col-md-4 col-6">
							            			<span class="text-white"><strong>Cliente: </strong></span><br>
							            			<span class="text-white"><strong>Fecha: </strong></span><br>
							            			<span class="text-white"><strong>Central: </strong></span><br>
							            			<span class="text-white"><strong>Nro de posteos: </strong></span>
					            				</div>

					            				<div class="col-md-5 col-6">
					            					<span class="text-white"><i>{{campaigninfo.cliente}}</i></span><br>
					            					<span class="text-white"><i>{{campaigninfo.fecha}}</i></span><br>
					            					<span class="text-white"><i>{{campaigninfo.central}}</i></span><br>
					            					<span class="text-white"><i>{{nroPosteosTotal}}</i></span>
					            				</div>
					            			</div>
					            		</div>

								    {{/if}}
								</div>
							</div>
			            </header>

							{{#if tableReady}}

								<div class="background-dark" id="poststablecontainer">

									{{#if addPostStory}}

										Images

									{{else}}


											{{#each campaignImages}}
									        		
									            <div class="s-6 m-6 l-five outerimage">
									            	<a target="_blank" class="image-with-hover-overlay image-hover-zoom" href="{{url}}" title="Portfolio Image">
									                <div class="image-with-hover-overlay image-hover-zoom">
									                  <div class="image-hover-overlay background-primary"> 
									                    <div class="image-hover-overlay-content text-center padding-2x">

									                      		<p class="text-white text-size-16 margin-bottom-10">Click</p>

									                        
									                    </div> 
									                  </div> 

														<img class="full-img" src="{{url}}" id="{{public_id}}" alt=""/>
													</div>
										            </a>  
												</div>  

											        
											{{/each}}


									{{/if}}

							    </div>

							    {{#if tableReadyG}}

					                	<div class="d-md-none d-lg-none d-xl-none">

					                		<br><hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);"><br>
											
						                	<br>
											<h3 align="center" class="underline">Campaña: <i>{{campaigninfo.nombre}}</i></h3>

											<div class="row background-dark">

												<div class="col-md-3 col-12">
					            				</div>

							            		<div class="col-md-4 col-6">
							            			<span class="text-white"><strong>Cliente: </strong></span><br>
							            			<span class="text-white"><strong>Fecha: </strong></span><br>
							            			<span class="text-white"><strong>Central: </strong></span><br>
							            			<span class="text-white"><strong>Nro de posteos: </strong></span>
					            				</div>

					            				<div class="col-md-5 col-6">
					            					<span class="text-white"><i>{{campaigninfo.cliente}}</i></span><br>
					            					<span class="text-white"><i>{{campaigninfo.fecha}}</i></span><br>
					            					<span class="text-white"><i>{{campaigninfo.central}}</i></span><br>
					            					<span class="text-white"><i>{{nroPosteosTotal}}</i></span>
					            				</div>
					            			</div>
					            		</div>

								    {{/if}}
						    {{else}}
						    	{{> spinner}}
						    {{/if}}

			          </article>
			        </main>

			        </div>
			    </body>


			    <footer>
			    <!-- Bottom Footer -->
			    <br><hr>
			      <section class="padding background-dark full-width">
			        <div class="text-center">
			          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
			        </div>
			      </section>
			    </footer>

			</div>


		{{else}}
			<div class="alert alert-danger" role="alert">
			  <strong>Oh snap!</strong> No tenes la autorizacion apropiada para ver esta informacion
			</div>
		{{/if}}

	{{else}}
		<div class="background-dark">
			{{> loadingdiv}}

		 	<div class="row background-dark">
	            <div class="col-12 col-md-4">
	            </div>

	            <div class="col-12 col-md-4">
	            	<div class="alert alert-success" role="alert">
					  <strong>One moment</strong> checking if link is valid...
					</div>
					<p class="text-white">The waiting time, my brothers, Is the hardest time of all.</p>
					<p class="text-white" align="right">SARAH DOUDNEY</p>
					<br><br><br><br><br><br><br><br><br><br><br><br>

					<footer>
				    <!-- Bottom Footer -->
				    <br><hr>
				      <section class="padding background-dark full-width">
				        <div class="text-center">
				          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
				        </div>
				      </section>
				    </footer>
	            </div>

	            <div class="col-12 col-md-4">
	            </div>
			</div>
		</div>
	{{/if}}


    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="js/jquery.events.touch.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script> 

</template>



