




<template name="datacontrol">

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    


    <div class="background-dark">

	    <body class="size-1140 background-dark">

	      <div id="page-wrapper">

	        <!-- HEADER -->
	        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

	          <!-- Top Navigation -->
	          <nav class="background-dark background-transparent-hightlight full-width sticky">

	            <div class="s-12 l-2">
	              <a href="/" class="logo">
	                <!-- Logo version before sticky nav -->
	                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
	                <!-- Logo version after sticky nav -->
	                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
	              </a>
	            </div>


	            <div class="s-12 l-10">
	              <div class="top-nav right">
	                <p></p>

	                <div class="d-none d-md-block">
		                <ul class="right chevron">
		                  <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>
		                  {{#if currentUser }}
							{{#if isAdminC }}
								<li><a class="text-white" href="/adminpanel" id="logout">Logout</a></li>
							{{/if}}
						  {{/if}}             
		                </ul>
		            </div>
	              </div>
	            </div>  

	          </nav>

	            <div class="d-md-none d-lg-none d-xl-none background-dark">
	            	<br>

	                	{{#if currentUser }}
							{{#if isAdminC }}
								<div class="row">
				                  <div class="col-6" style="text-align:right;">
				                        <a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
				                      </div>
				                    <div class="col-6" style="text-align:left;">
				                        <a class="text-white" href="/adminpanel" id="logout">Logout</a>            
				                    </div>
                    
                  				</div>
                  			{{/if}}
                  		{{else}}
	                  			<div class="row">
				            		<div class="col-7" style="text-align:right;">
				                  		<a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
				                  	</div>
				                  	<div class="col-5">        
				                	</div>
				                </div>
                  		{{/if}}
                  		<br>
                  		<hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
	                
				</div>

	        </header>

	        <br>
			{{checkUser}}

			{{#if currentUser }}

				{{#if isAdminC }}
					<main role="main">
				         <!-- Content -->
				         <article>

				            <header class="section background-dark">

				            	{{> inputAutocomplete settings=settingsAc id="inputUsernameData" class="enlarge-m" placeholder="Username"}}

				            	<button class="btn-agus" id="allmedias">Get/Update media data</button>

				            	<br><br><button class="btn-agus" id="allmediasallusers">Get/Update media all users</button><br><br>

				            	<br><hr>

				            	<select>
				            		{{#each AllCampaigns}}
								  		<option value="{{AllCampaigns.nombre}}">{{AllCampaigns.nombre}}</option>
				            		{{/each}}
								</select>
								
								<button class="btn btn-agus" id="updateposts" type="submit">Update posts info</button>


				            	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				            	
				            </header>

				          </article>
				        </main>
				{{else}}

					<main role="main">
			          <!-- Content -->
			          <article>
			            <header class="section background-dark">

			              <div class="row">
			            	<div class="col-md-4 col-12">

			            		<br><br>

			            		<h3 class="white-text">No tenes el permiso necesario para acceder aqui</h3>

						        <br><br><br><br><br>

						        <hr>

								<a href="/"><button class="btn btn-agus">Volver</button></a>

							</div>

							<div class="col-md-3 col-6">
							</div>

							<div class="col-md-5 col-6">
							</div>
						  </div>
			            	
			            </header>
			          </article>
			    	</main>

				{{/if}}


			{{else}}
				<main role="main">
			         <!-- Content -->
			         <article>
			            <header class="section background-dark">

			              <div class="row">
			            	<div class="col-md-4 col-12">

			            		<br><br>

			            		<h3 class="white-text">No tenes el permiso necesario para acceder aqui</h3>

						        <br><br><br><br><br>

						        <hr>

								<a href="/"><button class="btn btn-agus">Volver</button></a>

							</div>

							<div class="col-md-3 col-6">
							</div>

							<div class="col-md-5 col-6">
							</div>
						  </div>
			            	
			            </header>
			        </article>
			    </main>

			{{/if}}
				


	  </div>
	</body>
  </div>


	<footer>
	<!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="text-center">
          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
        </div>
      </section>
    </footer>


      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/jquery.events.touch.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
		

    
</template>


