


<template name="email">

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">    


    <div class="background-dark">

	    <body class="size-1140 background-dark">

	      <div id="page-wrapper">

	        <!-- HEADER -->
	        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    

	          <!-- Top Navigation -->
	          <nav class="background-dark background-transparent-hightlight full-width sticky">

	            <div class="s-12 l-2">
	              <a href="/" class="logo">
	                <!-- Logo version before sticky nav -->
	                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
	                <!-- Logo version after sticky nav -->
	                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
	              </a>
	            </div>


	            <div class="s-12 l-10">
	              <div class="top-nav right">
	                <p></p>

	                <div class="d-none d-md-block">
		                <ul class="right chevron">
		                  <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>
		                </ul>
		            </div>
	              </div>
	            </div>  

	          </nav>

	            <div class="d-md-none d-lg-none d-xl-none background-dark">
	            	<br>

	                  			<div class="row">
				            		<div class="col-7" style="text-align:right;">
				                  		<a href="https://www.instagram.com/trendsetters.ok/" target="_blank" align="right"><img class="resize-icon" align="right" src="/images/instaIcon.png"/></a>
				                  	</div>
				                  	<div class="col-5">    
				                	</div>
				                </div>
                  		<br>
                  		<hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">
	                
				</div>

	        </header>

	        <br>
			
				<main role="main">
			         <!-- Content -->
			         <article>
			            <header class="section background-dark">

			              <div class="row">

			              	<div class="col-md-4 col-6">
							</div>

			            	<div class="col-md-4 col-12">

			            		<br><br>

			            		<h3 class="white-text">Envianos un email</h3>

						        Identificate:<input type="text" class="form-control grey-input" placeholder="De parte de" id="inputsender"><br>

						        Asunto:<input type="text" class="form-control grey-input" placeholder="Asunto" id="asunto"><br><br>

						        <textarea class="form-control grey-input" placeholder="Mensaje" rows="5" id="mensaje"></textarea>

						        <hr>

								<button class="btn btn-agus" id="enviarm" type="submit" align="right">Enviar</button>

							</div>

							

							<div class="col-md-e col-6">
							</div>
						  </div>
			            	
			            </header>
			        </article>
			    </main>

	  </div>
	</body>
  </div>


	<footer>
	<!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="text-center">
          <p class="text-size-12">Copyright 2018, Trendsetters - el contenido del sitio pertence a la agencia</p>
        </div>
      </section>
    </footer>


      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/jquery.events.touch.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
		

    
</template>
