

<template name="grid">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <img class="d-block img-fluid" src="/images/2/1.jpeg" alt="First slide">
        </div>

        <div class="carousel-item">
          <img class="d-block img-fluid" src="/images/2/2jpeg" alt="Second slide">
        </div>

        <div class="carousel-item">
          <img class="d-block img-fluid" src="/images/2/1.jpeg" alt="Third slide">
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    
</template>