


<template name="poststemplate">

		<div id="page-wrapper">

		    {{#if mediaReady}}

		    	<div class="background-dark full-width">

		        {{#each row in modalPosts}}

		        	<div class="row row-height"> 
		        
		        	{{#each post in row}}
		        		
			            <div class="s-12 m-6 l-five addpost cursor-point  outerimage" id="{{post.counter}}">
			                <div class="image-with-hover-overlay image-hover-zoom" id="{{post.counter}}">
			                  <div class="image-hover-overlay background-secondary" id="{{post.counter}}"> 
			                    <div class="image-hover-overlay-content text-center padding-2x" id="{{post.counter}}">
			                      <h3 class="text-white text-size-20 margin-bottom-10"></h3>
			                      <p class="text-size-14 margin-bottom-20"></p>  
			                    </div> 
			                  </div> 
			                  <div class="frame cn background-imgrid">

				                <div id="{{infoConstructor post.id post.media_type post.insta_id}}" class="{{helperClassName post.counter}}">

				                  	<img class="full-img hover-opacity" src="{{post.imgurl}}" id="{{post.counter}}"/>

			                    </div>
			                  </div>
			                  	
							 </div> 

							 {{#if post.isvideo }}
		                        <img class="innerimage" src="/images/video.png"/>
		                    {{/if}}
		                    {{#if post.isalbum }}
		                        <img class="innerimage" src="/images/album.png"/>
		                    {{/if}} 

							 
			            </div>

					{{/each}}

					</div>
				        
				{{/each}}

				</div>

				{{#if morePosts}}

					<div class="row">
		        		<div class="col-md-6">
		        		</div>

		        		<div class="col-md-2">
		        			<div class="tocenter" style="height: 200px;">

							<br><br>

							<img src="/images/loading.gif" class="tocenter" align="center" height="60px" width="60px">

							</div>
		        		</div>

		        		<div class="col-md-4">
		        		</div>
		        	</div>

				{{/if}}

				<br>

				<button type="button" class="btn btn-agus btn-block" id="moreresults">Mas resultados</button>

			{{else}}

			<div style="height: 200px;">
				{{> spinner}}
			</div>
		    
		    {{/if}}
		    <br>
            <hr class="break margin-top-bottom-0" style="border-color: rgba(96,96,96, 0.80);">

		</div>

    
</template>