


<template name="storiestemplate">

    {{#if mediaReady_s}}

    	<div class="background-dark full-width">

        {{#each post in modalStories}}
        		
            <div class="s-12 m-6 l-five addstory" id="{{post.counter}}">
                <div class="image-with-hover-overlay image-hover-zoom" id="{{post.counter}}">
                  <div class="image-hover-overlay background-secondary" id="{{post.counter}}"> 
                    <div class="image-hover-overlay-content text-center padding-2x" id="{{post.counter}}">
                      <h3 class="text-white text-size-20 margin-bottom-10"></h3>
                      <p class="text-size-14 margin-bottom-20"></p>  
                    </div> 
                  </div> 
                  <div class="frame cn background-imgrid">

	                <div id="{{infoConstructor post.id post.media_type post.insta_id}}" class="{{helperClassName post.counter}}">

	                  	<img class="full-img hover-opacity outerimage" src="{{post.imgurl}}" id="{{post.counter}}" alt=""/>

	                  	
                    </div>
                  </div>
                </div> 

                {{#if post.isvideo }}
                    <img class="innerimage" src="/images/video.png">
                {{/if}}
				         
            </div>

		        
		{{/each}}

		</div>

	{{else}}

	<div style="height: 200px;">
		{{> spinner}}
	</div>
    
    {{/if}}

    
</template>