

<template name="trendsetters">
  
    {{#each trendUsers}}
        <div class="card">
          <div class="row ">

            <div class="col-md-2">
              <img class="card-img-top img-keepsmall-200" src="{{picurl}}" alt="Card image cap">
            </div>

            <div class="col-md-4 align-middle">

              <div class="row ">

                <div class="col-md-6">

                 <div class="card-block"><br>
                    <h4 class="card-title" align="center">{{usname}}</h4>
                  </div><br>
                </div>

                <div class="col-md-6">
                 <div class="card-block"><br>
                    <p class="card-text" align="center"><strong>Seguidores</strong> {{followers_string}} </p>
                  </div><br>
                </div>

              </div>

              <p class="card-text" align="center">{{bio}} </p>

            </div>

              <div class="col-md-2">
               <strong>Tags</strong><br><br>
                  {{#each tag in tags}}
                    <span class="badge badge-pill badge-info">{{tag}}</span>
                  {{/each}}
              </div>

              <div class="col-md-3">
               <div class="card-block"><br>
                <div class="btn-group-vertical">
                    <div align="center">

                      <br><br>

                      <a target="_blank" href={{link}}><img src="/images/instagram-badge.png"></a>  

                      
                      <img src="/images/analytics-badge.png" class="getAnalytics" id={{usname}}> 

                      <a href="{{pathFor 'usermedia'}}">
                      <img src="/images/media-badge.png" class="getMedia" id={{usname}}></a>

                      <a href="{{pathFor 'stories'}}">
                      <img src="/images/stories.png" class="getStories" id={{usname}}></a>

                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-1">
               <div class="card-block"><br><br>
                  
                </div>
              </div>

              <br><br>
            </div>
            </div>
         

    {{/each}}
</template>


