

<template name="useranalytics">
    {{> useranalytic clickedname}}
</template>



<template name="useranalytic">

        <nav class="background-dark background-transparent-hightlight full-width sticky">

            <div class="s-12 l-2">
              <a href="/" class="logo">
                <!-- Logo version before sticky nav -->
                <img class="logo-before resize-logo" src="/images/trendsetters2.png"/>
                <!-- Logo version after sticky nav -->
                <img class="logo-after resize-logo" src="/images/trendsetters2.png"/>
              </a>
            </div>


            <div class="s-12 l-10">
              <div class="top-nav right">
                <p></p>

                <div class="d-none d-md-block">
                    <ul class="right chevron">
                      <li><a href="https://www.instagram.com/trendsetters.ok/" target="_blank"><img class="resize-icon" src="/images/instaIcon.png"/></a></li>           
                    </ul>
                </div>
              </div>
            </div>  

          </nav>

    <div class="background-dark">
        <br><br>
        <h2 align="center">User analytics</h2>

            {{#if infoReady}}
                <div align="center">
                    <span class="text-white"><strong>{{userinfofetch.usname}}</strong></span><br><br>
                    <i>Seguidores:  </i>{{userinfofetch.followers}}<br>
                    <i>Sigue a:  </i>{{userinfofetch.follows}}<br><br><br>

                    <i><b>Alcance</b> en los ultimos <b>7</b> días -> </i>{{userinfofetch.reach7}}<br>
                    <i><b>Impresiones</b> en los ultimos <b>7</b> días  -> </i>{{userinfofetch.impressions7}}<br><br>

                    <i><b>Alcance</b> en los ultimos <b>28</b> días -> </i>{{userinfofetch.reach28}}<br>
                    <i><b>Impresiones</b> en los ultimos <b>28</b> días  -> </i>{{userinfofetch.impressions28}}<br><br>

                    <i><b>Vistas</b> al perfil en el ultimo dia -> </i>{{userinfofetch.profileviews}}<br>
                    <i><b>Nuevos seguidores</b> en el ultimo dia  -> </i>{{userinfofetch.followerscountday}}<br><br>
                </div>

                {{Draw}}

            {{else}}

                {{> loadingdiv}}

            {{/if}}

                <div class="container">
                    
                    <div class="row">

                        <div class="col-md-6">
                            <canvas id="genderchart" width="800" height="450"></canvas>
                        </div>

                        <div class="col-md-6 text-white">
                            <canvas id="agechart" width="800" height="450"></canvas>
                        </div>

                    </div>
                </div>

                <br><br><br>

                <div class="container2">
                    
                    <div class="row">

                        <div class="col-md-1">
                        </div>


                        <div class="col-md-5">
                            <canvas id="citychart" width="800" height="450"></canvas>
                        </div>

                        <div class="col-md-5">
                            <canvas id="countrychart" width="800" height="450"></canvas>
                        </div>

                        <div class="col-md-1">
                        </div>


                    </div>
                </div>
    </div>
        


</template>